.about-bg{
    background-image: linear-gradient(to right, #2F80ED, #56CCF2),
    url("./../../../public/assets/background/aboutus.jpg");
  width: auto;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: 0.3; */
  background-attachment: fixed;
}
.about-title{
    padding-top: 1rem;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    line-height: 29.52px;
    vertical-align: baseline;
}


.about-us-box{
  height: 350px;
  width: 100%;
  position: static;
}
.aboutus-text{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}