#nav-bar {
    /* position: fixed; */
    top: 00;
    z-index: 10;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    /* line-height: 1.8; */
    font-weight: normal;
    background: #ffffffa8;
    color: #0f2c67;
    width: 100%;
  }
  
  
  /* a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #0095DA;
  }
  a:hover,
  a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  } */
  .active_1{
    color: #ffffff !important;
    background-color: #0095DA;
  }
  .ftco-navbar-light {
    z-index: 3;
    padding: 0;
  }
  .nav-backgroung-blur{
    background: #ffffff00 !important;
    transition: 0.5s;
  }
  .nav-backgroung-solid{
    background: #ffffff !important;
    transition: 0.5s;
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light {
      background: #000 !important;
      position: relative;
      top: 0;
      padding: 10px 15px;
    }
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-bottom: 10px;
    }
  }
  .ftco-navbar-light .navbar-nav > .nav-item  .nav-link {
    font-size: 13px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    color: #0f2c67;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    position: relative;
    opacity: 1 !important;
  }
  /* .ftco-navbar-light .navbar-nav > .nav-item  .nav-link:active{
    background-color: #cd1818;
    color: #fff;
  }
  .ftco-navbar-light .navbar-nav > .nav-item  .nav-link:focus{
    background-color: #cd1818;
    color: #fff;
  }
  .ftco-navbar-light .navbar-nav > .nav-item  .nav-link:target{
    background-color: #cd1818;
  } */
  .ftco-navbar-light .navbar-nav > .nav-item  .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #0095DA;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    z-index: -1;
  }
  .ftco-navbar-light .navbar-nav > .nav-item  .nav-link:hover {
    color: #fff;
  }
  .ftco-navbar-light .navbar-nav > .nav-item  .nav-link:hover:before {
    visibility: visible;
    background-color: #0095DA;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item  .nav-link {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      color: rgba(255, 255, 255, 0.7);
    }
    .ftco-navbar-light .navbar-nav > .nav-item  .nav-link:hover {
      color: #fff;
    }
    .ftco-navbar-light .navbar-nav > .nav-item  .nav-link:hover:before {
      display: none;
    }
  }
  /* .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
  }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #000;
  }
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
    background: none;
    color: #fff;
  } */
  .dropdown_auto .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
  }
  .dropdown-item {
    font-size: 13px;
    font-weight: 400;
    color: #000 !important;
  }
  .dropdown_auto:hover .dropdown_auto_menu {
    display: block;
  }
  .dropdown_auto_menu .dropdown-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .dropdown_auto_menu .dropdown-item:hover {
    background-color: #0095DA !important;
    color: #fff !important;
    transition: 0.3s;
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
      display: block !important;
      background: #000;
    }
    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #f1bc31;
    border-radius: 0px;
  }
  @media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
      color: #fff;
      background: none;
      border-radius: 4px;
    }
  }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #fff;
  }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
    visibility: visible;
    background-color: #f1bc31;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
      color: #f1bc31;
    }
    .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
      display: none;
    }
  }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .ftco-navbar-light .navbar-toggler:focus {
    outline: none !important;
  }
  