@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
.App {
  text-align: center;
}
body{
  /* background-image: linear-gradient(to right,#9b9b9b2a, #ffffff63),
      url("./../public/assets/background/3334702.jpg"); */
      background-attachment: fixed;
      background-position: center;
      font-family: "Poppins", sans-serif;
}