<div className="container">
    <div className="row pt-4">
      {/* <div className="col-lg-2">
        <div className="text-center">
        <div className="pt-4">
        <img src="/assets/image/logo/logo-2.png" alt="" className="img-fluid" style={{ height:"120px", width:"120px" }}/>
        </div>
        </div>
      </div> */}
      <div className="col-lg-4">
        <h5 className="text-white"><i className="fad fa-align-right" style={{ color: "#FDC215" }}></i> <span className="footer-headline">Contact Us</span></h5>
        <span><i className="fas fa-map-marker-alt" style={{color: "#ED2226"}}></i> <a className="touch-with-us-text"  href="https://goo.gl/maps/fNXbEh9e6tEeKg718">&nbsp;House# 428A (3rd Floor), Road# 30,<br/> New DOHS Mohakhali, Dhaka</a></span><br />
        <span><i className="fas fa-phone-office" style={{color: "#ED2226"}}></i> <a className="touch-with-us-text" href="tel:+880248811048">&nbsp;(+880) 248811048</a></span><br />
        <span><i className="fas fa-mobile-alt" style={{color: "#ED2226"}}></i> <a className="touch-with-us-text" href="tel:+8801713090871">&nbsp;(+880) 1321120451</a></span><br />
        {/* <span className="text-white"> ,</span> <a className="touch-with-us-text" href="tel:+8801318321617">&nbsp;(+880) 1318-321617</a></span><br /> */}
        <span><i className="fas fa-envelope" style={{color: "#ED2226"}}></i><a className="touch-with-us-text" href="mailto:info@mmlbd.com">&nbsp;info@mmlbd.com</a></span>
      </div>

      <div className="col-lg-2">
        <h4 className="text-white"><i className="fad fa-align-right"style={{ color: "#FDC215" }}></i> <span className="footer-headline"> Quick Link</span></h4>
        <Link  to="/contactus" className="quick-link-text">
          Contact Us
        </Link>
        <Link to="/privacy-policy" className="quick-link-text">
          Privacy Policy
        </Link>
        <Link to="/career" className="quick-link-text">
          Career
        </Link>
      </div>

      <div className="col-lg-4">
        <h5 className="text-white"><i className="fad fa-align-right"style={{ color: "#FDC215" }}></i> <span className="footer-headline"> Social Link</span></h5>
        <div className="mx-auto">
          <div className="effect aeneas">
            <div className="buttons">
            <a href="https://www.facebook.com/Moving-Machines-Ltd-101141516021371" className="fb" title="Join us on Facebook" rel="noopener noreferrer" target="_blank" ><i className="fab fa-facebook"></i></a>
            <a href="https://wa.me/8801321120451" rel="noopener noreferrer" target="_blank" className="whatsup" title="Join us on Whats Apps"><i className="fab fa-whatsapp"></i></a>
            <a href="#" className="linkedin" title="Join us on Facebook"><i className="fab fa-linkedin"></i></a>
            </div>
          </div>
          {/* <div> */}
            {/* <div className="visitorcounter mt-3"> */}
              {/* <div className="text-light"><span className="counter-text">Total Visited:</span> <span className="visitor-amount"> */}
                {/* <CountUp end={countamount.value}></CountUp> */}
                {/* </span></div> */}
              {/* <div className="text-light"><span className="counter-text">Total Visited:</span> <span className="visitor-amount">120</span></div> */}
            {/* </div> */}
          {/* </div> */}
         
          
        </div>
      </div>
    </div>
  </div>